.jumbotron {
  text-align: center;
  padding: 2%;
  background-image: url("../img/pingpong.jpg");
  background-position: bottom left;
  opacity: 0.2;
}

.jumbotron h1 {
  color: darkblue;
  font-weight: bold;
}
.well {
  background-color: rgb(246, 249, 243);
}

.results {
  display: none;
}
