.jumbotron {
  text-align: center;
  margin: 2%;
  padding: 2%;
}

.side-bar {
  float: left;
  width: 200px;
  padding-right: 15px;
  padding-left: 15px;
}

.main {
  padding-top: 1px;
}

.results {
  display: none;
}
