body {
  background-color: rgb(165,198,218);
}
.container{
  background-color: white;
}
.jumbotron {
  text-align: center;
  padding: 2%;
  background-image: url("../img/pingpong.jpg");
  background-position: bottom left;
  opacity: 0.5;
  margin-top: 10px;
}

.jumbotron h1 {
  font-weight: bolder;
  color: #01193f;
  font-family: 'Poppins', sans-serif;
}

.well {
  background-color: rgb(246, 249, 243);
  text-align: center;
  line-height: 25px;
}

h2, h3 {
  color: rgb(255, 207, 128);
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

h4 {
  color: rgb(128, 140, 159);
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}
